pre {
  font-size: 3em;
}

body {
  margin: 0;
  overflow: hidden;
}

#vg-tooltip-element {
  font-size: 20px;
  color: #3e3c38;
}

legend {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  color: #3e3c38;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  color: #3e3c38;
  cursor: pointer;
}

input[type="range"].slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #ccc; /* gray track */
  border-radius: 2px;
  outline: none;
  margin: 0; /* Remove default margin if any */
}

/* WebKit thumb styling */
input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3e3c38;
  cursor: pointer;
  margin-top: -6px; /* (16/2 - 4/2) = 8 - 2 = 6px */
}

/* Firefox thumb styling */
input[type="range"].slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3e3c38;
  cursor: pointer;
}

label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: #3e3c38;
  margin-bottom: 1rem;
}

.MuiTooltip-tooltip {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
}

.MuiTooltip-arrow {
  color: #3e3c38 !important;
}
